In [1]:
'''Importar Librerías'''
#Importar la librería pandas
import pandas as pd
#Importar la librería numpy
import numpy as np
#Importar la librería Matplot
import matplotlib.pyplot as plt
from matplotlib import style
#Importar la librería seaborn
import seaborn as sns

#Importar la librería 
from scipy.stats import pearsonr
#Importar la librería Linear Regressioner
from sklearn.linear_model import LinearRegression
#Importar la librería Train_test_split
from sklearn.model_selection import train_test_split
#Importar la librería Metrics
from sklearn import metrics 
#Importar la librería Make_scorer
from sklearn.metrics import make_scorer

In [2]:
'''Cargar el dataset por medio del URL'''
#Url del dataset
url = "https://raw.githubusercontent.com/eabv/Regresion_lineal-/main/insurance.csv"
#Cargar los datos en la base a la URL del dataset
df = pd.read_csv(url)
#Mostrar 5 datos aleatorios
df.sample(5)

     age     sex     bmi  children smoker     region      charges
676   55  female  40.810         3     no  southeast  12485.80090
249   29    male  28.975         1     no  northeast   4040.55825
250   18    male  17.290         2    yes  northeast  12829.45510
690   21    male  27.360         0     no  northeast   2104.11340
242   55  female  26.800         1     no  southwest  35160.13457